<!DOCTYPE html>
<html>
<head>
  <title>Cowsays.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  </head>
<body>

<div class="container">
  <%= yield %>


  <footer class="footer">
    <p><a href="http://www.nog.net/~tony/warez/cowsay.shtml">Cowsay</a>
      was written by and copyright Tony
      Monroe, <a href="/cowsay-license.txt">distributed under the Artistic
        License</a>. I (<a href="http://avdi.org">Avdi Grimm</a>) just put
      it on the web.</p>
  </footer>

</div>


</body>
</html>
